<ul>
  {{#each movies}}
    <li>
      <strong>{{Name}}</strong> ({{Year}}) — {{category}}
      <p>{{Description}}</p>

      <!-- Toggle Review Form Button -->
      <button onclick="toggleReviewForm('{{_id}}')">Write Review</button>

      <!-- Review Form -->
      <div id="review-form-{{_id}}" class="review-form-container hidden">
        {{> review-form movieId=_id }}
      </div>

      <!-- Toggle Show Reviews Button -->
      {{!-- Check the review-list.js file from public folder and review-list.css--}}
      <button onclick="fetchReviews('{{_id}}')">Show Reviews</button>

      <!-- Reviews List -->
      <div id="reviews-list-{{_id}}" class="reviews-container hidden"></div>
    </li>
  {{/each}}
</ul>

