<h1>{{title}}</h1>

{{#if movies.length}}
  <ul class="movies-list">
    {{#each movies}}
      <li class="movie-item">
        <h2>
          {{this.title}} <small>({{this.release_date}})</small>
        </h2>
        <p>{{this.overview}}</p>
        {{#if this.genre_names.length}}
          <p><strong>Genres:</strong>
            {{#each this.genre_names}}
              {{this}}{{#unless @last}}, {{/unless}}
            {{/each}}
          </p>
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No movies available.</p>
{{/if}}
